body{
	background-color: black; 
}

p{
	font-family: 'Cedarville Cursive', cursive;
	font-size: 300 px;
	text-align: center;
	text-anchor: end;
	color: floralwhite;
	margin-top: 55vw;
	margin-bottom: 2vw;
}

a{
	color: black;
	transition: all 0.4s linear;
}

a:hover {
	color: floralwhite;
}




